.wrapper {
  margin-bottom: var(--space-m);
}

.title {
  max-width: 13.3em;
  letter-spacing: -0.025ch;
}

.preTitle {
  color: rgb(var(--smoke));
  margin-bottom: 0;
}

@media (min-width: 850px) {
  .wrapper {
    margin-bottom: var(--space-m);
  }
}

@media (min-width: 1700px) {
  .wrapper {
    margin-bottom: var(--space-s);
  }
}
