@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  padding-left: var(--space-m);
  padding-right: var(--space-m);
  margin-bottom: var(--space-l);
}

.grid {
  align-items: center;
  grid-column-gap: var(--space-s);
  grid-row-gap: var(--space-m);
  margin: 0 auto;
  max-width: none;
}

@media (max-width: 749px) {
  .wrapper {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .grid > :last-child {
    /* forcing this disobedient child to obey the padding-right of it's parent */
    padding-right: var(--space-m);
    width: calc(100% + var(--space-m));
  }
}

.grid > * {
  scroll-snap-align: center;
}

.tall {
  min-width: 0;
  grid-column: 2;
}

.label {
  color: var(--secondary);
  text-align: center;
  margin: var(--space-s) 0 0 0;
  max-width: none;
}

@media (max-width: 749px) {
  .grid {
    grid-auto-flow: column;
    grid-auto-columns: 80vw;
    padding-top: 2.5rem;
  }

  .strava,
  .blog,
  .tall {
    grid-row: span 2;
  }
}

@media (min-width: 750px) and (max-width: 1149px) {
  .grid {
    grid-auto-columns: 40vw;
    grid-gap: var(--space-s);
  }
}

@media (max-width: 1699px) {
  .grid {
    grid-template-rows: auto auto;
  }
}

@media (min-width: 750px) {
  .wrapper {
    padding-left: var(--space-m);
    margin-bottom: calc(var(--space-m) * 2);
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .tall {
    grid-column: 1;
    grid-row: 1;
    grid-row: span 2;
  }

  .label {
    margin-top: var(--space-xs);
  }
}

@media (min-width: 1150px) {
  .wrapper {
    margin-bottom: var(--space-m);
  }
  .grid {
    grid-gap: var(--space-xs);
    grid-template-columns: 1fr 1fr 1fr;
  }

  .label {
    font-size: 1.1rem;
    margin-top: var(--space-xxs);
  }
}

@media (min-width: 1700px) {
  .label {
    margin-top: var(--space-xxs);
  }

  .grid {
    align-items: center;
    max-width: var(--containerMaxWidth);
  }
}
