.wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin-top: var(--space-l);
  place-items: center;
}

.wrapper svg {
  max-height: 2.75rem;
  max-width: 6rem;
  width: 100%;
}
  
@media (min-width: 850px) {
  .wrapper {
    margin-top: var(--space-s);
  }
}