.wrapper {
  row-gap: var(--space-l);
  margin-left: 0;
}

.animalWrapper {
  border-width: 0.2rem;
  border-style: solid;
  background-color: hsl(var(--theme), var(--palette-saturation), var(--palette-lightness));
  transition: border-color 0.5s;
  margin: var(--space-xs) 0;
  width: 100%;
  height: 50vw;
  object-fit: cover;
}

@media (max-width: 849px) {
  .content:nth-child(4) {
    grid-row: 3;
  }
}

@media (min-width: 850px) {
  .wrapper {
    row-gap: var(--space-s);
  }

  .wrapper > :nth-child(2) {
    transform: rotate(1deg);
  }
  
  .wrapper > :nth-child(3) {
    transform: rotate(-1deg);
  }

  @keyframes wiggle {
    0% { transform: rotate(0) }
    25% { transform: rotate(2deg) }
    75% { transform: rotate(-2deg) }
    100% { transform: rotate(0) }
  }

  .animalWrapper {
    animation: wiggle 1.5s linear infinite;
    border-width: 0.4rem;
    border-radius: 50%;
    margin: 0;
    width: 7rem;
    height: 7rem;
    overflow: hidden;
  }
}