.wrapper {
  font-size: var(--bodyLarge);
  line-height: 1.8;
}

.wrapper h2, 
.wrapper h3 { 
  scroll-margin-top: var(--space-l);
}

.wrapper h2 {
  font-size: clamp(2rem, 3.4vw, 2.6rem);
  margin-bottom: var(--space-m);
}

.wrapper h2:not(:first-child) {
  margin-top: var(--space-l);
}

.wrapper h3 {
  margin-top: var(--space-m);
  margin-bottom: var(--space-xs);
}

.wrapper pre code {
  margin: 2rem -2rem;
  max-width: calc(100% + 4rem);
}

.wrapper img {
  margin: var(--space-s) -2rem var(--space-s) -2rem;
  max-width: calc(100% + 4rem);
}

.wrapper ul {
  padding-left: var(--space-s);
  margin-bottom: var(--space-xs);
}

.wrapper li {
  margin-bottom: var(--space-xs);
}

@media (min-width: 850px) {
  .wrapper img {
    border-radius: 0.5rem;
    box-shadow: 0px 0.5rem 1rem lightgrey;
  }

  .wrapper h2 {
    margin-bottom: var(--space-s);
  }

  .wrapper h2:not(:first-child) {
    margin-top: var(--space-l);
  }
}

@media (min-width: 1150px) {
  .wrapper h2:not(:first-child) {
    margin-top: var(--space-m);
  }

  .wrapper h2 {
    margin-bottom: var(--space-xs);
  }

  .wrapper li {
    margin-bottom: var(--space-xxs);
  }

  .wrapper h3 {
    margin-top: var(--space-s);
  }

  .wrapper h2 + h3 {
   margin-top: calc(var(--space-xs) * 1.5); 
  }

  .wrapper img {
    margin-top: var(--space-xs);
    margin-bottom: var(--space-xs);
  }

  .wrapper ul {
    padding-left: var(--space-xxs);
  }
}
