.wrapper {
  display: grid;
  grid-gap: var(--space-m);
  padding-left: 0;
  padding-bottom: var(--space-xs);
  list-style: none;
}

.wrapper li {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (min-width: 850px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--space-m) var(--space-s);
  }
}

@media (min-width: 1150px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--space-xs);
  }
}