.blob {
  animation: lava 30s ease-in-out infinite alternate;
  position: absolute;
  max-width: 22rem;
  filter: blur(0.3rem);
  opacity: 0.5;
}

.blob path {
  transition: fill 0.2s ease-in-out;
}

.blob:nth-of-type(odd) {
  left: calc(var(--space-l) * -2.75);
}

.blob:nth-of-type(even) {
  right: calc(var(--space-l) * -2.75);
}

@keyframes lava {
  from { transform: rotate(0); opacity: 0.5 }
  to { transform: rotate(30deg) scale(1.2); opacity: 0.85; }
}

@media (min-width: 850px) {
  .blob {
    max-width: 52rem;
  }
}

@media (min-width: 1250px) {
  .blob {
    max-width: 33rem;
  }

  .blob:nth-of-type(odd) {
    left: calc(var(--space-l) * -1.5)
  }
  
  .blob:nth-of-type(even) {
    right: calc(var(--space-l) * -1.5);
  }
}

@media (min-width: 1600px) {
  .blob {
    max-width: 40rem;
  }
}