.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--space-s);
  margin-bottom: var(--space-l);
  padding-left: 2rem;
  max-width: 70rem;
}

.description {
  font-size: var(--bodyLarge);
  margin-left: 0;
}

.title:before {
  animation: spin 4s linear infinite;
  border-radius: 0.1rem;
  content: '';
  height: 0.75rem;
  position: absolute;
  right: calc(100% + 1rem);
  top: 1.25rem;
  transform: rotate(-3deg);
  width: 0.75rem;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.item:nth-of-type(1) .title:before { background-color: hsl(var(--red), var(--palette-saturation), var(--palette-lightness)); }
.item:nth-of-type(2) .title:before { background-color: hsl(var(--yellow), var(--palette-saturation), var(--palette-lightness)); }
.item:nth-of-type(3) .title:before { background-color: hsl(var(--green), var(--palette-saturation), var(--palette-lightness)); }
.item:nth-of-type(4) .title:before { background-color: hsl(var(--blue), var(--palette-saturation), var(--palette-lightness)); }
.item:nth-of-type(5) .title:before { background-color: hsl(var(--purple), var(--palette-saturation), var(--palette-lightness)); }
.item:nth-of-type(6) .title:before { background-color: hsl(var(--pink), var(--palette-saturation), var(--palette-lightness)); }
.item:nth-of-type(7) .title:before { background-color: hsl(var(--green), var(--palette-saturation), var(--palette-lightness)); }
.item:nth-of-type(8) .title:before { background-color: hsl(var(--red), var(--palette-saturation), var(--palette-lightness)); }
.item:nth-of-type(9) .title:before { background-color: hsl(var(--yellow), var(--palette-saturation), var(--palette-lightness)); }

.title {
  font-size: var(--heading3);
  font-weight: bold;
}

.box {
  background-color: rgb(var(--secondary));
  border: 2px solid red;
  height: 5rem;
  position: sticky;
  top: 10rem;
}

@media (min-width: 850px) {
  .list {
    grid-row-gap: var(--space-s);
    grid-column-gap: var(--space-s);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-bottom: var(--space-m);
  }
  
  .description {
    max-width: 85%;
  }
}