.wrapper {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-l);
  font-size: 1rem;
  max-width: 25rem;
}

.wrapper:before {
  color: hsl(var(--theme), var(--palette-saturation), var(--palette-lightness));
  font-size: 5rem;
  position: absolute;
  z-index: -1;
  content: '“';
  left: -1rem;
  top: -4rem;
  transform: rotate(-8deg);
}

.quote {
  color: var(--baseFontColor);
  font-family: var(--fontCute);
  line-height: 1.5;
  font-size: 1.2rem;
  margin-bottom: var(--space-xxs);
}

.author {
  color: rgb(var(--secondary));
  font-size: 1.1rem;
  font-family: var(--fontCute);
}

@media (min-width: 850px) {
  .wrapper {
    margin-bottom: var(--space-s);
  }

  .wrapper:before {
    font-size: 7rem;
    left: -2rem;
    top: -6rem;
  }
}