.visuallyHidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.accent {
  color: hsl(var(--theme), var(--palette-saturation), 80%);
}

.fontCute {
  font-family: var(--fontCute);
  font-size: 1.1rem;
}

.textSmoke {
  color: rgb(var(--secondary));
}

.textTheme {
  color: hsl(var(--theme), var(--palette-saturation), var(--palette-lightness));
}

.grid {
  display: grid;
  grid-gap: var(--space-l);
  grid-auto-columns: minmax(0, 1fr);
  margin: 0 auto var(--space-s) auto;
  max-width: 30rem;
}

.gridAlignCenter {
  align-items: center;
}

@media (min-width: 850px) {
  .grid {
    grid-column-gap: var(--space-s);
    grid-row-gap: var(--space-m);
    grid-template-columns: 1fr 1fr;
    max-width: none;
  }
}

@media (min-width: 1150px) {
  .grid {
    grid-gap: var(--space-s);
  }

  .fontCute {
    font-size: var(--heading4);
  }
}

@media (min-width: 1700px) {
  .fontCute {
    font-size: 1.3rem;
  }
}


.gridThin .articleBody {
  margin-left: 0;
}

.active::after {
  background-color: hsl(var(--theme), var(--palette-saturation), var(--palette-lightness));
  border-radius: 0.1rem;
  content: '';
  left: 50%;
  height: 0.15rem;
  position: absolute;
  transform: translateX(-50%) rotate(-1deg);
  top: calc(100% + 0.75rem);
  width: 1rem;
}

.bodyLarge {
  font-size: var(--bodyLarge);
}

.articleBody {
  line-height: 1.8;
  max-width: var(--articleBodyMaxWidth);
}

.articleBodyLarge {
  font-size: var(--bodyLarge);
}